/* --RESET--*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --HTML-- */
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
/* BODY */
body{
    background-color:#141922;
}
/* COMMON */
.spotify{
    height: 100vh;
}
img{
    width: 100%;
}
p{
    color: grey;
}
h2,h3{
    color: white;
    margin: .5rem 0;
}

/* PARTE SUPERIORE */
.wrappertop{
    display: flex;
    height: 90%;
    width: 100%;
}
/* Sidebar */
.sidebar{
    display: flex;
    width: 250px;
    height: 100%;
    background-color: black;  
    align-items:flex-start;
    padding: 1rem;
    position: relative;
    overflow: auto;
}
.sidecontent{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidelogo img{
    width: 70%;
}
.imglogophone{
    display: none;
}
.imglogophone img{
    width: 20%;
}
.sidefooter h3{
    margin: 0;
}
.sideplaylist{
    flex-grow: 2;
  
}
.iconlogo{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    margin-bottom: .5rem;
}
.iconlogo i{
    color: grey;
    font-size: 2.5rem;
    margin-right: 1rem;
}
.addplaylist{
    margin-top: 1.5rem;
}

.iconlogo img{
    width:15%;
    margin-right:1rem;
}
#imgfoot{
    width: 7%;
}
#imgfoot2{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: grey;
}
/* Contentwrappertop */
.contentwrappertop{
    width: 90%;
    height: 100%;
    overflow: auto;
}
/* headertop */
.headertop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    z-index: 10;
    top: 0;
}
.headertop a{
    text-decoration: none;
    color: white;
    border:1px solid white;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    margin-right: 10rem;
    font-size: 15px;
    display: inline-block;
}

/* maintop */
.maintop{
    width: 100%;
    background-color:#141922;
}
 /* navbar */s
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    text-align: center;
    display: block;  
    padding: 1rem;      
    margin-top: 5rem;    
}
#bordergreen{

}
.navbar li{
    display: inline-block;  
    text-align: center;   
    margin: 1rem .3rem;
}
.navbar a{
    text-decoration: none;
    color: grey;
    font-size: .8rem
}
 /* playlist */
.titleplaylist{
    margin: 1rem 1rem;
}
.playlistimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -20px;
}
.playlist{
    width: calc(100% / 6 - 2rem);
    margin: 2rem 1rem;
    text-align: center;
}
.playlist h3{
    color: white;
    margin: .5rem ;
}
.circle img{
    border-radius: 50%;
}
/* HOVER */

.navbar a:hover{
    color: white;
}
.sidebar p:hover , .sidebar i:hover{
    color: white;
}
.headertop a:hover{
    transition: .5s;
    transform: scale(1.1);
}
/* PARTE INFERIORE */
.wrapperbottom{
    height: 10%;
    width: 100%;
    background-color: #282828;
    display: flex;
}
/* wrapperbn */
.wrapperbm{
    display: flex;
    width: calc(100% / 3);
    height: 100%;
    justify-content:flex-start;
    align-items: center;
}
/* wrapperbmleft */
.imgsinister{
    width: 60px;
    height: 60px;
    margin-left: 1rem;
}
.titlesinister{
    margin-left: 1rem;
}
.wrapperbm i{
    color: grey;
    font-size: 1.1rem;
    margin-left: 1rem;
}
/* wrapperplayer */
.wrapperplayer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.actionplayer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionplayer i{
    font-size: 1.5rem;
    color: white
}
.barplayer{
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
}
.barplayer span{
    color: white;
    font-size: .8rem;
    font-weight: 600;
}
.barplayer i{
    color: white;
    margin: 1rem 2rem;
}
#wrcenter{
    display: flex;
    justify-content:center;
    align-items: center;
}
#wrright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.iconwrapperright i{
    color: white;
    margin-right: .3rem;
}



/* MEDIAQUERY */
/* small desktop */
@media screen and (max-width:1100px){
    .playlist{
        width: calc(100% / 4 - 2rem);
    }
    .headertop a{
        margin-right: 10rem;
    }
}

/* tablet */
@media screen and (max-width : 700px){
    .playlist{
        width: calc(100% / 2 - 2rem);
    }
}

/* phone */
@media screen and (max-width : 600px){
    .icontext{
        display: none;
    }
    .sideplaylist{
        display: none;
    }
    .imglogophone{
        display: block;
    }
    #novisible{
        display: none;
    }
    .sidebar{
        width: 50px;
    }
    .sidelogo img{
        width: 25px;
    }
    .iconlogo img{
        width: 25px;
        height: 25px;
    }
    .sidefooter p , .sidefooter h3{
        display: none;
    }
    #imgfoot{
        width:20px;
        height: 20px;
    }
    .sidebar hr{
        display: none;
    }
    .sideicontop{
        flex-grow: 2;
    }
    .headertop a{
        margin-right: 1rem;
        font-size: .7rem;
    }
}