/* --RESET--*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --HTML-- */
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color:#141922;
}
/* COMMON */
.spotify{
    height: 100vh;
}
img{
    width: 100%;
}
p{
    color: grey;
}
h2{
    color: white;
    margin: .5rem 0;
}

/* PARTE SUPERIORE */
.wrappertop{
    display: flex;
    height: 90%;
    width: 100%;
}
/* Sidebar */
.sidebar{
    display: flex;
    width: 250px;
    height: 100%;
    background-color: black;  
    align-items: start;
    padding: 1rem;

}
.sidecontent{
    display: flex;
    flex-direction: column;
}
.sidelogo img{
    width: 70%;
}
.sideplaylisttitle h3{
    color: white;
    margin-top: 1rem;
}
.iconlogo{
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.iconlogo i{
    color: grey;
    font-size: 2.5rem;
    margin-right: 1rem;
}
.addplaylist{
    margin-top: 1.5rem;
}
.icon img{
    width:15%;
    margin-right:1rem;
}
/* Contentwrappertop */
.contentwrappertop{
    width: 90%;
    height: 100%;
    overflow: auto;
}
/* headertop */
.headertop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    z-index: 10;
    top: 0;
}
.headertop a{
    text-decoration: none;
    color: white;
    border:1px solid white;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    margin-right: 5rem;
    font-size: 15px;
}

/* maintop */
.maintop{
    width: 100%;
    background-color:#141922;
}
 /* navbar */s
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    text-align: center;
    display: block;  
    padding: 1rem;      
    margin-top: 5rem;    
}
.navbar li{
    display: inline-block;  
    text-align: center;   
    margin: 1rem .3rem;
}
.navbar a{
    text-decoration: none;
    color: grey;
    font-size: .8rem
}
 /* playlist */
.titleplaylist{
    margin: 1rem 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.playlist{
    width: calc(100% / 6 - 2rem);
    margin: 2rem 1rem;
    text-align: center;
}
.playlist h3{
    color: white;
    margin: .5rem ;
}





/* PARTE INFERIORE */
.wrapperbottom{
    height: 10%;
    width: 100%;
    background-color: #282828;
}




/* MEDIAQUERY */
/* small desktop */
@media screen and (max-width:1100px){
    .playlist{
        width: calc(100% / 4 - 2rem);
    }
}

/* tablet */
@media screen and (max-width : 700px){
    .playlist{
        width: calc(100% / 2 - 2rem);
    }
}

/* phone */
@media screen and (max-width : 600px){

}